body {
    font-family: 'Calibri', sans-serif;
}

.noContentFound {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #1b2659;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 20px;
}

.groupCollapse {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    //color: #2C2C2CFF;
    margin-bottom: 5px;
    font-size: 20px;
}

.emptyBox {

}

.groupCollapse.extern {
    background-color: #422f17;
//background-color: #B5B5B5;
}

.groupCollapse.macro {
    background-color: #092f46;
//background-color: #B5B5B5;
}

.groupCollapse.staticVar {
    background-color: #865401;
//background-color: #B5B5B5;
}

.groupCollapse.enums {
    background-color: #154127;
//background-color: #B5B5B5;
}

.groupCollapse.struct {
    background-color: #7a2619;
//background-color: #B5B5B5;
}

.groupCollapse.function {
    background-color: #6e2f8a;
//background-color: #B5B5B5;
}

.collapsible {
    width: 98%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 10px;
    color: #2C2C2CFF;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 18px;
}

.collapsible.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.collapsible.extern {
    background-color: #aba38f;
//background-color: #DDDDDD;
}

.collapsible.macro {
    background-color: #AED6F1;
//background-color: #DDDDDD;
}

.collapsible.staticVar {
    background-color: #FAD7A0;
//background-color: #DDDDDD;
}

.collapsible.enums {
    background-color: #A9DFBF;
//background-color: #DDDDDD;
}

.collapsible.struct {
    background-color: #F5B7B1;
//background-color: #DDDDDD;
}

.collapsible.function {
    background-color: #D7BDE2;
//background-color: #DDDDDD;
}

.content {
    width: 98%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: none;
    overflow: hidden;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 10px;
}
.content.extern {
    background-color: #c2c1b8;
//background-color: #F4F4F4;
}

.content.macro {
    background-color: #c9dae7;
//background-color: #F4F4F4;
}

.content.staticVar {
    background-color: #ecdfcf;
//background-color: #F4F4F4;
}

.content.enums {
    background-color: #c4dcce;
//background-color: #F4F4F4;
}

.content.struct {
    background-color: #ecdad8;
//background-color: #F4F4F4;
}

.content.function {
    background-color: #e1ddec;
//background-color: #F4F4F4;
}

.attr {
    margin-bottom: 5px;
    font-size: 14px;
}

.highlighted {
//background-color: yellow;
}