.keyword { -fx-fill: blue; }
.preprocessor { -fx-fill: #7a1177; }
.paren { -fx-fill: #336699; }
.brace { -fx-fill: #336699; }
.bracket { -fx-fill: #336699; }
.semicolon { -fx-fill: #336699; }
.string { -fx-fill: #f39e57; }
.comment { -fx-fill: #008000; }
